@@ -0,0 +1,113 @@
/* This is the syle sheet for the webpages. Change color and
wanted properites in this file */

/*  back ground image properites*/
body {
	background-image: url('pictures/ZooPic.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


/*  welcome to the Hattiesburg Zoo*/
#header {
  background-color: #666;
  padding: 35px;
  text-align: center;
  font-size: 35px;
  color: MediumSeaGreen;
}

/*  welcome to the Hattiesburg Zoo front size*/
#homepage_title {
	font-size: 75px;
}


/* The map properites
/* The map properites*/


/* map front size */
#map_title {
	font-size: large;
}

/* the region properites */
#region_index {
	background-color: MediumSeaGreen;
	font-family: Sans-serif, Arial;
	font-size: 15px;
	color: LightGrey;
	text-transform: lowercase;
	font-style: oblique;
	height: 100px;
	border-style: groove;
	border-color: LightGrey;
	position: relative;
	min-height: 400px;
	max-height: 400px;
	width: 400px;
	min-width: 500px;
	max-width: 200px;
	padding: 30px;
	margin: 20px auto;
	border-radius: 25px;
	text-align: center;
	border-width: solid;
	top: 10px;
	left: 0px;
	z-index: 10;
}

/* aniamal info properites */
#animal_info {
	background-color: MediumSeaGreen;
	font-family: Sans-serif, Arial;
	font-size: 15px;
	color: LightGrey;
	text-transform: lowercase;
	font-style: oblique;
	height: 100px;
	border-style: groove;
	border-color: LightGrey;
	position: relative;
	min-height: 400px;
	max-height: 400px;
	width: 400px;
	min-width: 500px;
	max-width: 200px;
	padding: 30px;
	margin: 20px auto;
	border-radius: 25px;
	text-align: center;
	border-width: solid;
	top: 10px;
	left: 0px;
	z-index: 10;
}
